body {
  background: url();
}

.heading {
  text-align: center;
}

.cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card__badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(227, 112, 37);
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(20px, -20px) scale(1);
  transition: all 0.3s ease;
  opacity: 0.8;
  font-size: 20px;
  font-weight: bold;
  animation: scaleanimation 1s ease infinite;
  color: #fff;
}

.card__badge-hidden {
  display: none;
}

.btn.disabled {
  opacity: 0.5;
}

@keyframes scaleanimation {
  to {
    transform: translate(20px, -20px) scale(1.05);
    opacity: 1;
  }
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Form Styles */
form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #70db28b5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 30px auto 100px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
  width: 95%;
  margin: auto;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styling the select element */
select {
  appearance: none;
  padding: 10px 30px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background: #fff url("arrow-down-icon.svg") no-repeat right center;
  background-size: 20px;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.options {
  margin: 20px;
}



/* Changing the appearance of options on hover and selection */
select option:hover {
  background-color: #f0f0f0;
  font-size: 50px;
}

select option:checked {
  background-color: #007bff;
  color: white;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 600px) {
  form {
    padding: 15px;
  }
}
